.RData
.Rhistory
activity_labels.txt
de_Jonge_&_van_der_Loo-Introduction_to_data_cleaning_with_R.pdf
features.txt
features_info.txt
getdata-projectfiles-UCI HAR Dataset.zip
Getting and Cleaning Data Project Assignment.pdf
Project.Rproj
Reading Codebook Files in R.pdf
README.txt
Step5.png
UCI Machine Learning Repository_ Human Activity Recognition Using Smartphones Data Set.pdf
.Rproj.user/

